#linea {
    position: relative;
    left: 400px;
    top: 100px;
    width: 600px;
}
.home__h1 {
    position: relative;
    top: 200px;
    
}
.imagen {
    position:relative;
    /* left: 130px;
    bottom: 90px; */
}
.parrafo {
    position:relative;
    left: 20px;
}
.rayo {
    width: 200px;
    position: relative;
    right: 15%;
}
.logo {
    width: 40%;
    margin-left: 50px;
}
li {
    margin-left: 30px;
    align-self: flex-end;
}
.formulario {
padding: 10px;
}
.tarjeta {
    width: 50%;
    margin: 0 auto;
    justify-items: center;
   /*  display: flex;
    align-items: center;
    */
}

.form-control {
    margin: 20px;
}
.div-bt {
    display: flex;
    justify-content: center;
}
.div-ta {
    display: flex;
    justify-content: center;
}
.div-row {
    display: flex;
    justify-content: center;
}
.columna1 {
    display: flex;
    justify-content: center;
}
.columna2 {
    display: flex;
    justify-content: center;
}
.section__container--cards {
    display: flex;
    flex-direction: column;
}
.cards__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    flex-wrap: wrap;
}
.main__container {
    padding: 20px;
}
.btn {
    justify-self: center;
}
.btn__container {
    display: flex;
    justify-content: center;
}
.card-text {
    text-align: justify;
}
.card-img-top {
    width: 286px;
    height: 428.69px;
    object-fit: cover;
}
@media screen and (max-width: 1017px){

    .cards__container {
        flex-direction: column;

    }    
    .card {
        margin-bottom: 30px;
    }
    }
}